/*
 * @Author: chen zhen
 * @Date: 2018-06-07 18:01:22
 * @Last Modified by: chen zhen
 * @Last Modified time: 2018-09-18 14:22:28
 * @Description: scss 通用变量，必须对所有的变量进行详细的描述
 */

$headerHeight: 80px;
$footerheight: 28px;
$menuWidth: 300px;
$intervalSize: 10px;


$backgroundColor: #000;

$themeColor: #15596c;

$fontColor: #909399;
$activeFontColor: #0b9ec7;