/*
 * @Author: zhen chen
 * @Date: 2017-10-16 23:59:21
 * @Last Modified by: zhen chen
 * @Last Modified time: 2017-10-17 17:36:51
 * @description 主页面的结构变量存储文件
 */

$sidebarLeftWidth: 20%;
$sidebarRightWidth: 20%;

.no-select{
  -moz-user-select:none; /*火狐*/
  -webkit-user-select:none; /*webkit浏览器*/
  -ms-user-select:none; /*IE10*/
  -khtml-user-select:none; /*早期浏览器*/
  user-select:none;
}