/*
 * @Author: zhen chen 
 * @Date: 2017-07-03 16:20:54
 * @Last Modified by: zhen chen
 * @Last Modified time: 2017-11-28 16:35:31
 */

 * {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  margin: 0;
  font-size: 14px;
  font-family: "Microsoft YaHei";
}

iframe {
  padding: 0;
  height: 100%;
  width: 100%;
}

header ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  height: 100%;
}

.all {
  height: 100%;
  width: 100%;
}